@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  margin: 0;
  overflow-x: hidden;
  padding: 0.75rem 2rem;
  font-family: Roboto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(30, 41, 59);
  -webkit-font-smoothing: antialiased;
}
